body {
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    font-size: 10px;
    color: white;
}

#main-container{
    
}

#vertical-middle-container{
    display: flex;
    flex-direction: column;
    flex-grow: -1;
    height: 15vh;
    
    
    

}

#middle-container{
    display: flex;
    justify-content: space-between;

    


}

#blank{
    display: flex;
    flex-grow: 8;
}

#image{
    display: flex;
    
    

}

#extra{
    display: flex;
    

}

#top-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    height: 6vh;
    text-align: center;
    
    
    

}

.green-background {
    display: flex;
    background-color: green;
    width: 18%;
    height: 6vh;
    font-size: 15px;
    align-items: center;
    justify-content: center;
    
    
    
}

.yellow-background {
    display: flex;
    background-color: yellow;
    width: 82%;
    height: 6vh;
    font-size: 15px;
    align-items: center;
    justify-content: center;
    
   
}

.pink-background {
    display: flex;
    background-color: fuchsia;
    height: 60vh;
    font-size: 15px;
    text-align: center;
    align-items: center;
    justify-content: center;
    
}

.blue-background {
    display: flex;
    background-color: blue;
    height: 25vh;
    width: 50vw;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    flex-grow: 2;
}

.red-background {
    background-color: red;
    display: flex;
    height: 12.5vh;
    width: 50vh;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    
}

.lightgreen-background {
    background-color: lightgreen;
    display: flex;
    height: 12.5vh;
    width: 50vh;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    
}

.purple-background {
    background-color: purple;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    height: 9vh;
}