.mainContainerCreateTrip{
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
    
}

.containerCreateTrip{
    display: flex;
    align-items: center;
    width: 600px;
    flex-direction: column;
    background-color: #e6ecff;
    height: 400px;
    justify-content: center;
    

   
}

.boxCreateTrip{
    display: flex;
    justify-content: space-between;
    width: 400px;
    background-color: #e6ecff;
    align-items: center;
    margin: 10px 0;
    
    
    
}

.boxCreateTripinput{
    width: 400px;
    height: 20px;
}
