.mainContainerForm{
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: blue;
    
}

.containerForm{
    display: flex;
    align-items: center;
    width: 500px;
    flex-direction: column;
    background-color: #e6ecff;
    height: 300px;
    justify-content: center;

   
}

.boxForm{
    display: flex;
    justify-content: space-between;
    width: 350px;
    background-color: #e6ecff;
    align-items: center;
    margin: 10px 0;
    
}

.boxForm input{
    width: 250px;
    height: 18px;
}

